
<link rel='stylesheet' href='/public/styles/main.css'/>

<header class="header" id="header">
    <!--nav Btn-->
    <div class="navBtn">
      <i class="fas fa-bars"></i>
       <script>
           document.querySelector('.navBtn').addEventListener('click', function () {
            document.querySelector('.nav').classList.toggle('nav--show');
             })
       </script>
    </div>
    <!--Nav-->
    <nav class="nav">
      <ul class="nav_links">
        <li><a href="./image" class="nav_single-link">Home</a></li>
        <li><a href="./projects" class="nav_single-link">Projects</a></li>
        <li><a href="/employee" class="nav_single-link">Employees</a></li>
        <li><a href="/post" class="nav_single-link">Post</a></li>
      </ul>
    </nav>
  </header>

 

